table.tmptabela {
	width: 100%;
	margin-bottom: 9px;
}

table.tmptabela tr td {
	height: 20px;
	border: 1px solid #CFCFCF;
	color: black;
	padding: 3px;
	font-size: 1.1em;
}

table.tmptabela tr th {
	padding: 4px;
}

.thleft tr th {
	text-align: left;
	padding-left: 4px;
}

.thright tr th {
	text-align: right;
	padding-right: 4px;
}

table tr td.label-tabela {
	background-color: #E0EEEE;
}

table.tmptabela tr th {
	font-size: 1.2em;
	font-family: arial;
	height: 20px;
	background-color: #6699CC;
	border: none;
	color: #fff;
}
table.tmptabela tr td.sub-th{
	background-color: #e0eeee;
	border: none;
	font-weight: bold;
	color: #888;
	font-size: 1.4em;
	vertical-align: middle;
}